name: Test artifact

on:
  push:

jobs:
  test-artifact:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2]

    steps:
      - uses: actions/checkout@v3

      - run: mkdir -r dir/subdir-${{ matrix.shard }}

      - run: touch dir/subdir-${{ matrix.shard }}/file-${{ matrix.shard }}.txt

      - name: Upload results
        uses: actions/upload-artifact@v3
        with:
          name: test-artifact
          path: ./dir

  print-artifact:
    runs-on: ubuntu-latest
    needs:
      - test-artifact
    steps:
      - uses: actions/checkout@v3

      - name: Download results
        uses: actions/download-artifact@v3
        with:
          name: test-artifact
          path: ./dir

      - run: ls -alR
        working-directory: ./dir
